/* progress container */
div#progress_container {
  position: fixed;
  width: 100%;
  bottom:0;
  left:0;
  background-color:#DDD;
  height:25px;
  border: 6px double #ccc; 
  margin: 0px;
  padding: 0px;
  text-align: left;
}
/* progress bar */
div#progress_bar {
	color: white;
	background-color: #FF8D40; 
	height: 12px;
	padding-bottom: 2px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
}
