body {
  margin:12px; 
/*   font-size: 80%; */
  background:white;
}

.add_customer_btn {
font-size: 0.8em
}

/*.rem_host_btn_del * {
  text-indent: -999px;
  background-color: #FF9999;
}
.rem_host_btn_add * {
  text-indent: -999px;
  background-color: #D1F6D1;
}*/

#accordion {
  width: 250px;
}

#accordion, .ui-accordion-header {
  font-size: 0.9em;
  background: rgb(246, 250, 225);
}


.ui-accordion-content {
  background: #E6FFFF;
  font-size: 0.8em;
}

[title="host name"], [title="user"], [title="pass"]{
  width:150px;
} 
[title="ip addr"]{
  width:130px;
} 

/* custom theme update */
/*.ui-widget-overlay {
background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
opacity: .6;
filter: Alpha(Opacity=60);
}*/

