@charset 'UTF-8';

/* editor */
.me_styled-select_edit select {
   background: transparent;
   overflow: hidden;
   font-size: 12px;
   border: 1px solid #ccc;
}

/* bootstrap */
.btn {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 10px; 
}

/* rows style */
.table th, .table td {
    padding: 2px;
    line-height: 13px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid rgb(221, 221, 221);
    font-size: 12px;
}

tr {
    border-top: 1px solid rgb(221, 221, 221);
}
    
    
    
/* global upload bar */
.span5 {
    width: 380px;
}



/* no margin for upload shit */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 97%;
}

.progress {
    height: 15px;
    margin-bottom: 2px;
}





/*common*/
.block {
   font-size: 13px;
/*    line-height: 18px; */
   padding: 0 0 0 15px;
/*    margin: 0 0 18px; */
   border-left: 5px solid #eeeeee;
}

body {
    margin:2px; 
/*     font:11px Verdana,Arial;  */
    font-size: 100%;
    background:#eee;
/*     line-height: 10px; */
}

h1 {
    font-size: 200%;
}
h3 {
    font-size: 160%;
}
.page-header {
    padding-bottom: 9px;
    margin: 0px 0px 0px;
/*     border-bottom: 1px solid rgb(238, 238, 238); */
}

/*Notes and shit*/
.well {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-size: 80%;
}
