@charset 'UTF-8';

/* bootstrap */
.btn {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 10px; 
}

/* rows style */
.table th, .table td {
    padding: 2px;
    line-height: 13px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid rgb(221, 221, 221);
    font-size: 12px;
}

tr {
    border-top: 1px solid rgb(221, 221, 221);
}
    
/* global upload bar */
.span5 {
    width: 380px;
}

/* no margin for upload shit */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 97%;
}

.progress {
    height: 15px;
    margin-bottom: 2px;
}

/*common*/
/* info stuff*/
.block_info {
   font-size: 90%;
   padding: 0 0 0 15px;
   border-left: 5px solid #eeeeee;
}

body {
    margin:2px; 
    font-size: 100%;
    background:#eee;
}

h1 {font-size: 200%;}
h3 {font-size: 160%;}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0px 0px;
}

/*Notes and shit*/
.well {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-size: 80%;
}

/* progress container */
div#progress_container {
  position: fixed;
  width: 100%;
  bottom:0;
  left:0;
  background-color:#DDD;
  height:25px;
  border: 6px double #ccc; 
  margin: 0px;
  padding: 0px;
  text-align: left;
}
/* progress bar */
div#progress_bar {
	color: white;
	background-color: #FF8D40; 
	height: 12px;
	padding-bottom: 2px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
} 

/* plugins links */
div.ui-dialog > * { font-size: 60%; }
textarea#textarea_edit_plugin {
    margin-bottom:1px; 
    width:99%;
    height:99%; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul#change_with_links_plugins {
   list-style-type: none;
}
ul#change_with_links_plugins li {
/*    border:1px solid #BBBBBB; */
   float:left;
   margin-right:7px;
}

#change_with_links_plugins { font-size: 90%; } 
a.link_plugin {
  color: green;
  font-weight:500;
  cursor: pointer; cursor: hand
}

.help_image {
    height:20px;
    float:right;
     padding-right:5px;
     padding-top:2px; 
    width:20px;
}